h1 span {
             
           font-size: 30em;
        }
        #container {
            width : 60%;
            margin: 0 auto;
/*            padding-left: 100px;
            padding-right: 100px;*/
           
          
/*          padding: 10px 30px;
          border: 1px dotted;
          margin-right: 20px;
          overflow: hidden;*/
          /*background-image: url('C:\Users\ayush\Documents\NetBeansProjects\Dialogue_survey_project\web\bb1.jpg');*/
        }
        
         #container1 {
            width : 60%;
            margin: 0 auto;
         }
        #shape{
            float: left;
            width: 33%;
           
        }
        #shape2{
           float: right;
            width: 33%;
        }
        #shape3{
            margin: 0 auto;
            width: 33%;
        }
        
        #id1{
            float: left;
            width: 33%;
            height: 40px;
            text-align: left;
            vertical-align: top;
        }
        #id2{
            float: right;
            width: 33%;
            height: 40px;
            text-align: right;
            vertical-align: center;
        }
        #id3{
            margin: 0 auto;
            width: 33%;
            height: 40px;
            padding-top: 4px;
            text-align: center;
            vertical-align: center;
        }
        
        
        
/*        .container {
          height: 180px;
          width: 1400px;
        }
        .container > div {
          float: left;
        }
        .control {
            margin-right: 0px;
        }
        ####################################################################################
        .types2 {
            
          padding: 10px 30px;
          border: 1px dotted;
          margin-right: 20px;
          overflow: hidden;
        }
        .container2 {
          height: 180px;
          width: 400px;
        }
     .container2 > div {
          float: left;
        }
        .control2 {
            margin-right: 0px;
        }
            ####################################################################################
    
        .types3 {
            
          padding: 10px 30px;
          border: 1px dotted;
          margin-right: 20px;
          overflow: hidden;
        }
        .container3 {
          height: 180px;
          width: 300px;
        }
        .container3 > div {
          float: left;
        }
        .control3 {
            margin-right: 0px;
        }*/
      .center {
    padding: 10px;
    text-align: center;
  }
  .reportSubmit {
  display: inline-block;
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 23px;
  padding: 10px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  }


.reportSubmit span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.reportSubmit span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.reportSubmit:hover span {
  padding-right: 25px;
}

.reportSubmit:hover span:after {
  opacity: 1;
  right: 0;
}
.backg{
    background-image: url(../body-bg.jpg);
    background-size: cover;
}
