h1 span {
            font-size: 0.6em;
        }
        .types {
          display: inline-block;
          padding: 10px 30px;
          border: 1px dotted;
          margin-right: 20px;
          overflow: hidden;
        }
        .container {
          height: 180px;
          width: 400px;
        }
        .container > div {
          float: left;
        }
        .control {
            margin-right: 70px;
        }